<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Configure this section for Live -->
    <add key="Checkout.SecretKey" value="" />
    <add key="Checkout.PublicKey" value="" />
    <add key="Checkout.Environment" value="Live" />
    <add key="Checkout.RequestTimeout" value="60" />
    <add key="Checkout.MaxResponseContentBufferSize" value="10240" />
    <add key="Checkout.DebugMode" value="false" />
  </appSettings>
</configuration>